*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }

a {
  color: #009eff;
}

.flex-centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  padding: 50px;
}

/* Main button and icon
----------------------- */

.btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.btn:hover #icon__play,
.btn:active #icon__play,
.btn:hover #icon__arrow-outlines,
.btn:active #icon__arrows-outlines {
  fill: white;
}

.btn:hover #icon__arrows,
.btn:active #icon__arrows,
.btn:hover #icon__circle,
.btn:active #icon_circle {
  fill: #FF3333;
}

/* Animations
------------- */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  display: inline-block;
  animation: 1s infinite spin cubic-bezier(.2,0,.2,1);
}
